<%- include("partials/header") %>
<%- include("partials/navbar") %>
<div class="video-table-container">
    <h1>Video List</h1>
    <form method="get" action="/">
        <div class="form-group">
            <label for="search">Search</label>
            <input type="text" id="search" name="q">
            <button type="submit">Search</button>
        </div>
    </form>
    <div class="create-video-link">
        <a href="/create" class="btn-create">Create New Video</a>
    </div>
    <form method="post">
    <table class="video-table">
        <thead>
            <tr>
                <th><a href="/?sortField=title&direction=<%= -direction %>&q=<%= q %>">Title</a></th>
                <th>URL</th>
                <th><a href="/?sortField=description&direction=<%= -direction %>&q=<%= q %>">Description</a></th>
                <th><a href="/?sortField=rating&direction=<%= -direction %>&q=<%= q %>">Rating</a></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% for (let video of videos) { %>
            <tr>
                <td><%= video.title %></td>
                <td><a href="<%= video.url %>"><%= video.url %></a></td>
                <td><%= video.description %></td>
                <td><%= video.rating %></td>
                <td>
                    <% if (user.favorites.find(favorite => favorite.title === video.title) === undefined) { %>
                        <button formaction="/favorite/<%= video._id %>">Favorite</button>
                    <% } else { %>
                        <button formaction="/unfavorite/<%= video._id %>">Unfavorite</button>
                    <% } %>
                </td>
            </tr>
            <% } %>
        </tbody>
    </table>
    </form>
</div>

<%- include("partials/footer") %>