<%- include("partials/header") %>
    <div class="container"> 
        <p>Hey <%= name %>, we have a <%= animal %> for you:</p>

        <img src="<%= image %>"/>
    </div>
<%- include("partials/footer") %>
